<div class="row" style="background: #262931">
	<div class="container footer">
		<div class="row">
			<div class="row" style="margin: 20px 0 0 0 ">
				<div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 footer-list">
					<h4>Our payment options</h4>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 footer-list">
					<h4>Quick contact</h4>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 footer-list">
					<h4>Connect with us</h4>
				</div>
			</div>
			<hr style="border: 1px solid grey">
			<div class="row" style="margin-top: 0">
				<div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 footer-list">
					<p>
						<ul>
							<li>Union bank plc</li>
							<li>Anachuna Abuchi</li>
							<li>0098879987</li>
						</ul>
					</p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 footer-list">
					<p>
						<ul>
							<li><b>Whatsapp:</b>08141548005</li>
							<li><b>Calls:</b>08116198245</li>
							<li><b>Telegram:</b>08063014314</li>
							<li><b>E-mail:</b>eaatsystem@gmail.com</li>
						</ul>
					</p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 footer-list">
					<i class="fa fa-facebook-official"></i>
					<i class="fa fa-twitter-square" style="clor: #1CA1F2"></i>
					<i class="fa fa-instagram"></i>
				</div>
			</div>
		</div>
	</div>
</div>	
<div class="row" style="background: #262931">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="foot">
				<p style="color: #fff">EAAT Systems &nbsp &nbsp Copyright &#9400 2020</p>
			</div>
		</div>
	</div>
</div>


<script
   src="https://code.jquery.com/jquery-3.1.1.min.js"
   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
   crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<script type="text/javascript" src="/js/scrollreveler.js"></script>
<script type="text/javascript" src="/js/JavaScript.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>