<!DOCTYPE html>
<html>
<head>
  <title>Welcome to EAAT Systems... Creating tech literate Africa</title>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/jpg" href="favicon.jpg"/>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!--Cycle2 Plugin-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.min.js"></script>
<!--Cycle2 Carousel-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.carousel.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Web Application Development, computer training, Graphics design, Blogging training and systems design and development in Enugu Nigeria, we also specialize in web design and E-commerce development our services speak for itself.">
  <meta name="author" content="Anachuna Abuchi Ezeigbo">
  <meta name="keywords" content="Web Application Development, computer training, Graphics design, Blogging training and systems design and development in Enugu Nigeria, we also specialize in web design and E-commerce development our services speak for itself...">
</head>
<body>
  <div class="top-banner">
  	<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" >

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="background: #000">
          <span class="icon-bar" style="background: black; color: white"></span>
        </button>
        <a class="navbar-brand" href="/" style="font-size: 2em"><img src="/logo.png" width="40%">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="bb collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/pages/e-learning" style="font-size: 1em;">E-Learning</a></li>
            <li><a href="/pages/e-commerce" style="font-size: 1em;">E-commerce</a></li>
            <li><a href="/pages/training" style="font-size: 1em;">Training</a></li>
             <li><a href="#Services" style="font-size: 1em;">Branding</a></li> 
           <li><a href="/pages/e-commerce" style="font-size: 1em;">Web Development</a></li>
            <li><a href="#aboutUs" style="font-size: 1em;">About Us</a></li>
            <li><a href="#Services" style="font-size: 1em;">Our Services Us</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="quote">
      <p style="color: #fff; background: #262831; padding: 10px; text-align: center;">Leading Web Development and Training Company in the South East</p>
      <h2>
        PUTTING YOUR BUSINESS ONLINE
      </h2>
      <p><a href="/pages/contact" class="btn" style="border: 1px solid #fff">Request a quote</a></p>
    </div>
</div>
<nav class="navbar navbar-inverse" style="background:#fff; margin-bottom: 0; border: none;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>                       
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #000">Our Services<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/pages/e-learning">E-Learning</a></li>
            <li><a href="/pages/e-commerce">Web Development</a></li>
            <li><a href="/pages/training">Training Services</a></li>
          </ul>
        </li>
        <!-- <li><a href="/pages/team" style="color: #000">Our Team</a></li> -->
        <li><a href="/pages/contact" style="color: #000">Contact Us</a></li>
        <li><a href="/pages/register" style="color: #000">Registration</a></li>
      </ul>
    </div>
  </div>
</nav>