<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li> -->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="../top1.jpg" alt="Chania">
      <div class="carousel-caption">
        <h2 style="font-size: 3em">OUR SERVICES ARE NEXT TO ITSELF</h2>
        <p>There is a reason most big businesses trust Us, make that call today and see things for yourself.!</p>
        <a href="" class="btn btn-danger">Request a Quote</a>
      </div>
    </div>    
  </div>
</div>
</div>