<% include partials/header2%>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li> -->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="../top1.jpg" alt="Chania">
      <div class="carousel-caption">
        <h2 style="font-size: 2em">GET YOUR SHOP ONLINE AT A CHEAP AND AFFORDABLE PRICE</h2>
        <p>There is a reason most big businesses trust Us, make that call today and see things for yourself.!</p>
        <a href="/pages/contact" class="btn btn-danger">Request a Quote</a>
      </div>
    </div>    
  </div>
</div>
</div>
<title>E-Commerce development</title>
<div style="text-align: center;font-size: 21px; margin: 20px; padding: 40px;">
	<p>Getting an online shop that meets the need of a modern design should not be expensive but most importantly should meet the world standard. Talk to us today</p>
	<a href="/pages/contact" class="btn btn-danger"> Request a Quote </a>
</div>
	<h3 style="text-align: center; padding: 20px; text-transform: uppercase; text-decoration: underline; text-decoration-color: red">Our irresistible Offers</h3>
<div class="row" style="text-align: center; padding: 60px 40px;">
	<div class="inside-content">
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-laptop"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">Mobile responsive shop</p>
				<p>We make sure that your customers have the best of experience when shopping from your shop on their mobile phone</p>
			</div>
		</div>
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-comments"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">E-Commerce Consultancy</p>
				<p>With our over 3years in the field of e-commerce we can help grow your customer base and put your online shop on the right path</p>
			</div>
		</div>
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-search"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">Search Optimisation</p>
				<p>With our SEO driven design we make sure your site is ranked amongst the best</p>
			</div>
		</div>
	</div>
</div>
<div class="row" style="text-align: center; padding: 60px 40px;">
	<div class="inside-content">
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-users"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">Vendor Capability</p>
				<p>We design your shop to accomodate over 10,000 vendors with various kinds of products to sell on your platform</p>
			</div>
		</div>
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-lock"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">System Security</p>
				<p>The issue about your system security should be least in your mind when we work for you.</p>
			</div>
		</div>
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-pencil"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">Latest Designs and Updates</p>
				<p>With out constant system update, we make sure your shop is using the world trending designs</p>
			</div>
		</div>
	</div>
</div>
<div class="row" style="text-align: center; padding: 60px 40px;">
	<div class="inside-content">
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-heart-o"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">User friendly CMS</p>
				<p>Managing your site yourself should be a headache when its designed by Us</p>
			</div>
		</div>
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-globe"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">Web Development</p>
				<p>Big clients trust us with the jobs because we dont just deliver we "WOW" them.</p>
			</div>
		</div>
	</div>
</div>

<% include partials/footer%>
