<% include partials/header2%>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li> -->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="../top1.jpg" alt="Chania">
      <div class="carousel-caption">
        <h2 style="font-size: 3em">OUR SERVICES ARE NEXT TO ITSELF</h2>
        <p>There is a reason most big businesses trust Us, make that call today and see things for yourself.!</p>
        <a href="/pages/contact" class="btn btn-danger">Request a Quote</a>
      </div>
    </div>    
  </div>
</div>
</div>
<title>E-Commerce development</title>
<div style="text-align: center;font-size: 21px; margin: 20px; padding: 40px;">
	<p>E-learning isn't too much of a great deal expecially when they are developed by an expert. Our team of experts have been working with the E-Learning platform for as far back as 2011, talk to us and you can get one for a price equivalent to free</p>
	<a href="/pages/contact" class="btn btn-danger"> Request a Quote </a>
</div>
	<h3 style="text-align: center; padding: 20px; text-transform: uppercase; text-decoration: underline; text-decoration-color: red">Our irresistible Offers</h3>
<div class="row" style="text-align: center; padding: 60px 40px;">
	<div class="inside-content">
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-laptop"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">Mobile responsive</p>
				<p>We make sure that your students have the best of experience when learning with the platform on their mobile phone</p>
			</div>
		</div>
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-comments"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">E-Learning Consultancy</p>
				<p>With our over 8years in the field of E-Learning we can help grow your institution beyond the borders of the state and country.</p>
			</div>
		</div>
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-search"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">Search Optimisation</p>
				<p>With our SEO driven design we make sure your site is ranked amongst the best</p>
			</div>
		</div>
	</div>
</div>
<div class="row" style="text-align: center; padding: 60px 40px;">
	<div class="inside-content">
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-video-camera"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">Video and Whiteboard Capability</p>
				<p>Apart from access to courses nad test, we integrate a video conferencing with whiteboard capability</p>
			</div>
		</div>
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-lock"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">System Security</p>
				<p>The issue about your system security should be least in your mind when we work for you.</p>
			</div>
		</div>
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-pencil"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">Latest Designs and Updates</p>
				<p>With out constant system update, we make sure your shop is using the world trending designs</p>
			</div>
		</div>
	</div>
</div>
<div class="row" style="text-align: center; padding: 60px 40px;">
	<div class="inside-content">
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-heart-o"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">User friendly CMS</p>
				<p>Managing your platform yourself should be a headache when its designed by Us</p>
			</div>
		</div>
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-globe"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">Web Development</p>
				<p>Big clients trust us with the jobs because we dont just deliver we "WOW" them.</p>
			</div>
		</div>
	</div>
</div>

<% include partials/footer%>