<% include partials/header%>
<hr>
<div class="container" id="aboutUs">
  <div class="row">
    <div class="about">
      <b style="float: left; font-size: 16px; font-weight: bold;border-left: 4px solid #FF6604;">ABOUT US</b>
      <b style="float: right; font-size: 16px; font-weight: bold;">Our Records Speak For Us</b>
    </div>
  </div>
</div>
<div style="background: #F6F6F6;">
  <div class="row last" >
      <h2 >WEB DESIGN, E-COMMERCE DEVELOPMENT AND TRAINING</h2>
      <p>EAAT System is the leading web, mobile and e-commerce development site across the Niger, we develop client tailored, responsive and mobile friendly web applications.</p>
      <p>
       Several forks with several reasons but one of the popular reason why we are the preferred choice of most generic learners is our ability to teach the latest trends in technology. Since lunching our front end and backend web development using JavaScript our students have stood out amongst their equal in terms of know-hows in the development world.
        <p>Secondly, most students choose EAAT Systems because of our project and practical oriented courses. an average student in EAAT can develop a web application within a 24hrs period.</p>
        <p>Because we know that learning could be difficult particularly learning a language, this is why we have surrounded ourselves with the leaders in the IT world. our teachers are well experienced and are happy to impact lives.
      </p>
      </p>
    </div>
</div>
<div class="timer-header">
  <p>
    <b>Web Application</b> | <b>Mobile Application</b> | <b>E-Learning</b> | <b>Training</b> | <b>UI/UX Design</b> | <b>E-Commerce</b>
  </p>
</div>
<div class="timer">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 time">
      <p><i class="fa fa-calendar"></i></p>
    <p id="counter"><b class="count" data-count="4">0</b></p>
    <p>Years</p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 time">
      <p><i class="fa fa-laptop"></i></p>
      <p id="counter"><b class="count" data-count="15">0</b></p>
      <p>projects completed</p>

    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 time">
      <p><i class="fa fa-graduation-cap"></i></p>
      <p id="counter"><b class="count" data-count="85">0</b></p>
      <p>Students Graduated</p>

    </div>
  </div>
</div>
<div class="container" id="Services">
  <div class="row">
    <div class="about">
      <b style="float: left; font-size: 16px; font-weight: bold;border-left: 4px solid #FF6604;">OUR SERVICES</b>
      <b style="float: right; font-size: 16px; font-weight: bold;">Just to mention a few</b>
    </div>
  </div>
</div>
<div class="row services " >
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="row rite">
          <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
            <p style="font-size: 17px">Web <b>Development</b></p>
            <p>Our web applications are responsive, mobile compatibility, user friends and top of the notch designs.</p>
          </div>
          <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12"><i class="fa fa-laptop" style="font-size: 2.5em"></i></div>
        </div>
        <div class="row rite">
          <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
            <p style="font-size: 17px"><b>E-Commerce</b></p>
            <p>With our years of expertise in developing E-Commerce site we have learnt to make a search engine friendly, mobile friendly and user oriented designs.</p>
          </div>
          <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12"><i class="fa fa-shopping-bag" style="font-size: 2.5em"></i></div>
        </div>
        <div class="row rite">
          <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
            <p style="font-size: 17px">Mobile<b>Application</b></p>
            <p>We can help put you idea to the mobile phones of every one you can think of. Android, IOS and Windows are our target designs.</p>
          </div>
          <div class="col-md-2 col-lg-2 col-sm-12"><i class="fa fa-mobile" style="font-size: 2.5em"></i></div>
        </div>
        <div class="row rite">
          <div class="col-md-10 col-lg-10 col-sm-10">
            <p style="font-size: 17px"><b>E-Learning</b></p>
            <p>Brace the era of Electronic learning withour E-Learning platform. we have Video, Audio and White board capabilities.</p>
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2"><i class="fa fa-graduation-cap" style="font-size: 2.5em"></i></div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="/top4.jpg" width="100%">
      <div>
        <a href="/pages/contact" class="btn btn-danger" style="padding: 10px">Request a Quote</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="row" style="text-align: left;">
        <div class="col-md-2 col-lg-2 col-sm-2"><i class="fa fa-behance" style="font-size: 2.5em"></i></div>
        <div class="col-md-10 col-lg-10 col-sm-10">
          <p style="font-size: 17px"><b>Branding</b></p>
          <p>Appealling contents will always sell better than a non-appealing content. Lets put you clients in a situation where they wont have much options but love you</p>
        </div>
      </div>
      <div class="row" style="text-align: left;">
        <div class="col-md-2 col-lg-2 col-sm-2"><i class="fa fa-graduation-cap" style="font-size: 2.5em"></i></div>
        <div class="col-md-10 col-lg-10 col-sm-10">
          <p style="font-size: 17px">Web App <b>Training</b></p>
          <p>Unlike most training institute, EAAT System is a project oriented institute where student not only intereact with experts but start a project from scratch and complete within the duration of their studies</p>
        </div>
      </div>
      <div class="row" style="text-align: left;">
        <div class="col-md-2 col-lg-2 col-sm-2"><i class="fa fa-globe" style="font-size: 2.5em"></i></div>
        <div class="col-md-10 col-lg-10 col-sm-10">
          <p style="font-size: 17px">Digital <b>Marketing</b></p>
          <p>Optimizing your brand to be at the top of every google search will make easy your marketing job a lot easy. lets make this happen together</p>
        </div>
      </div>
      <div class="row" style="text-align: left;">
        <div class="col-md-2 col-lg-2 col-sm-2"><i class="fa fa-truck" style="font-size: 2.5em"></i></div>
        <div class="col-md-10 col-lg-10 col-sm-10">
          <p style="font-size: 17px">Web <b>Development</b></p>
          <p>We will help develop a website that will keep your client engaged and entertained while they surf through your arrays of services.</p>
        </div>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="about">
      <b style="float: left; font-size: 16px; font-weight: bold;border-left: 4px solid #FF6604;">Our Clients</b>
      <b style="float: right; font-size: 16px; font-weight: bold;">Making a client happy motivates us</b>
    </div>
  </div>
</div>
<div class="clients">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 20px">
      <img src="/logo2.jpg" width="70%">
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 20px">
      <img src="/abon.jpeg" width="70%">
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 20px">
      <img src="/newest.gif" width="70%">
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 20px">
      <img src="/buzzeet.jpg" width="70%">
    </div>
  </div>
</div>
<div class="container">
    <div class="work">
      <b style="font-weight: bold;border-left:4px solid #FF6604; border-right: 4px solid #FF6604 ">OUR WORKS</b>
    </div>
</div>
<div class="work">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 20px">
      <h3>Abosokia E-Commerce site</h3>
      <a href="https://abosseyokaionline.com.gh/"><img src="/abosokia.png" width="110%"></a>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 20px">
      <h3>HRL News</h3>
      <a href="https://hrlnews.com"><img src="/hrl.png" width="110%"></a>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 20px">
      <h3>Busseet read and get paid site</h3>
      <a href="https://buzzeet.com"><img src="/buzzeet.png" width="110%"></a>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 20px">
      <h3>Jaraplace online shop</h3>
      <a href="https://jaraplace.com"><img src="/jara.png" width="110%"></a>
    </div>
  </div>
</div>
<% include partials/footer%>