<% include partials/header2%>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li> -->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="../top1.jpg" alt="Chania">
      <div class="carousel-caption">
        <h2 style="font-size: 3em">BECOME A FULL STACK IN 12 WEEKS</h2>
        <p>Learning is a big task particularly learning a strange language, At EAAt System we make your learning experience easy and project oriented!</p>
        <a href="/pages/register" class="btn btn-danger"> Register Today!!! </a>
      </div>
    </div>    
  </div>
</div>
</div>
<title>E-Commerce development</title>
<div style="text-align: center;font-size: 21px; margin: 20px; padding: 40px;">
	<p>Unlike most training institute, EAAT System is a project oriented institute where student not only intereact with experts but start a project from scratch and complete within the duration of their studies, EAAt System has graduated over 85 students in full stack development since its inauguration in 2016.</p>
	<a href="/pages/register" class="btn btn-danger"> Register now </a>
</div>
	<h3 style="text-align: center; padding: 20px; text-transform: uppercase; text-decoration: underline; text-decoration-color: red">COurses we offer</h3>
<div class="row" style="text-align: center; padding: 60px 40px;">
	<div class="inside-content">
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-android"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">ANDRIOD DEVELOPMENT</p>
				<p>We teach andriod development using java and kotlin and drive our students to developing apps that can compete in the real world.</p>
			</div>
		</div>
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-apple"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">REACT-NATIVE APP DEVELOPMENT</p>
				<p>With the quest for cross-platform apps, we recently launched our react-native apps development course to help our student meet the industry standard when it comes to mobile app development</p>
			</div>
		</div>
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-firefox"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">WEB APPLICATION USING PHP</p>
				<p>The demand for editting CMS's out there in the real world has driven us into training our student on how to write programs in php, laravel using sql and other frameworks.</p>
			</div>
		</div>
	</div>
</div>
<div class="row" style="text-align: center; padding: 60px 40px;">
	<div class="inside-content">
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-chrome"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">WEB APP DEVELOPMENT USING JAVASCRIPT</p>
				<p>Javascript apart from python is the most used language in the tech field as of today, our javascript classes teaches our students to develop a cross-platform website from front end usin HTML, CSS, Javascript and at the backend using NODEJS, mongoDbB, express and other node frameworks</p>
			</div>
		</div>
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-behance"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">UI/UX DESIGN</p>
				<p>User interface design is a growing field in the tech world, take our UI/UX desing today and meet the indutry standard in just 6 weeks..</p>
			</div>
		</div>
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-code"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">WEB APPLICATION DEV USING PYTHON</p>
				<p>Much can be said about paython because the language is the leading language for app development, AI and bid data designs. Due to much demands, we recently recruited one the the best hands in Python language who will be guilding our students in becoming an expert in the field.</p>
			</div>
		</div>
	</div>
</div>
<div class="row" style="text-align: center; padding: 60px 40px;">
	<div class="inside-content">
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-wordpress"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">WEBSITE DESING USING CMS </p>
				<p>Just incase you just want to make things work immediately, we can teach you how to use, JOOMLA, DRUPAL, WORDPRESS, MOODLE, WOOCOMMERCE and other CMS out there. </p>
			</div>
		</div>
		<div class="col-sm-12 col-4 col-md-4 col-lg-4 col-xs-12 ">
			<div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-behance"></i>
			</div>
			<div class="col-10 col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 10px 0 0 25px">
				<p style="font-weight: bold;">GRAPHICS DESIGN</p>
				<p>the demand for Branding and digital marketers will triple in the next 5yrs, we hope to help you be indutry ready as at when the time comes</p>
			</div>
		</div>
	</div>
</div>

<% include partials/footer%>
